.homebody{
    background-image: url(https://media.tenor.com/uqOIuxCZPqgAAAAd/china-flag-chinese.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    padding: 36px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 250px;
    font-family: 'House of the Dragon';
    font-size: 20px;
    color: white;
}