@font-face {
    font-family: ChopsUey;
    src:url(../fonts/ChopsUey.ttf);
}

.homebody{
    background-image: url("../images/china-flag-chinese.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

.content{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    padding: 36px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 300px;
    font-family: 'chopsuey';
    font-size: 20px;
    color: white;
}